<%- include('../includes/head.ejs') %>
<head />
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
   <% if (prods.length > 0) { %>
    <div class="grid">
      <% for (let product of prods) { %>
        <article class="card product-item">
          <header class="card_header">
              <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
          </div>
          <div class="card__content">
            <h2 class="product__price"><%= product.price %></h2>
            <p class="product__description"><%= product.description %></p>
          </div>
          <div class="card__actions">
            <div>
              <a href="/admin/edit-product/<%= product._id %>" class="btn">Edit</a>
            </div>
            <form method="POST" action="/admin/delete-product/<%= product._id %>">
              <button type="submit" class="btn btn-red">Delete</button>
            </form>
          </div>
        </article>
      <% } %>
    </div>
   <% }  else { %>
    <h1>No Product found</h1>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %>